   /* Universal Selector*/
   *{
    margin:0px;
    padding:0px;
}
/* Type Selector*/
body{
    background-color:#cccddd;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    
    background-attachment: fixed;
}
/* id Selector*/
#container{
    width:1320px;
    min-height:1500px;
    background-color: #fffccc;
    margin:auto auto;
}
.myheading{
    font-size:30px;
    border-bottom:2px solid #ffffff;
    font-weight: bolder;
    font-variant: small-caps;
}
.banner{
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:#266590 ;
    min-height:340px;
}

.row{
    min-height: 5px;
}
.col100{
    width:100%;
}

.col75{
    width:75%;
    float:left;
}

.col50{
    width:50%;
    float:left;
}
.col25{
    width:25%;
    float:left;
}

.clear{
    clear:both;
}